@import "module/style.scss";
@import "module/footer.scss";

body{
    width: 100%;
    height: 100%;

header{
    width: 1250px;
    height: 70px;
    margin: 0 auto;
    border-bottom: 1px solid;
    img{
        width: 150px;
        height: 60px;
        margin-top: 5px;
    }
}
main{
    height: 600px;
    width: 1250px;
    margin: 0 auto;
    display: flex;
    .left{
        width: 780px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    .right{
        width: 470px;
        height: 100%;
        
        .r1{
            width: 100%;
            height: 120px;
            .fankett{
                float: left;
                margin-top: 40px;
            }
            p{float: right;
                margin-top: 43px;
            a{
                color: #b52024;
            }
        }
        }
        .r2{
            width: 100%;
            height: 50px;
            display: flex;
            border: 1px solid;
            div{
                width: 50%;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 20px;
                a{
                    float: left;
                    width: 100%;
                    height: 100%;
                    color:black;
                }
            }
            div:first-child{
                background-color: #b52024;
                a{
                    color: white;
                    font-size: 23px;
                    
                }
            }
        }
        .r3{
            width: 100%;
            height: 300px;
            border: 1px solid;
            .form1{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                label{
                    width: 100%;
                    height: 45px;
                    margin-top: 20px;
                    input{
                        width: 90%;
                        height: 100%;
                        margin-left: 20px;
                        
                    }
                    h4{
                        float: right;
                        margin-top: 35px;
                        margin-right: 25px;
                        a{
                            color: #b52024;
                        }
                    }
                    .login1{
                        font-size: 23px;
                        background: #b52024;
                        color: white;
                    }
                }
            }
            .form2{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                display: none;
                label{
                    width: 100%;
                    height: 45px;
                    margin-top: 20px;
                }
                label:first-child{
                    display: flex;
                    input{
                        width: 65%;
                        height: 100%;
                        margin-left:16px;
                    }
                    button{
                        width: 25%;
                        height: 100%;
                        margin-left: 10px;
                    }
                }
                label:nth-child(2){
                    display: flex;
                    input{
                        width: 35%;
                        height: 100%;
                        margin-left: 16px;
                    }
                    span{
                        width: 25%;
                        height: 105%;
                        text-align: center;
                        font-size: 25px;
                        border: 1px solid;
                        line-height: 45px;
                        margin-right: 40px;
                    }
                    a{
                        font-size: 13px;
                        color: black;
                    }
                }
                label:nth-child(3){
                    display: flex;
                    input{
                        width: 92%;
                        height: 100%;
                        margin-left: 16px;
                    }
                }
                label:nth-child(4){
                    display: flex;
                    input{
                        width: 92%;
                        height: 100%;
                        margin-left: 16px;
                        background: #b52024;
                        font-size: 23px;
                        color: white;
                    }
                }
                
            }
        }
        .r4{
            width: 100%;
            height: 120px;
            border: 1px solid;
            h4{
                color: #cccccc;
                margin-left: 20px;
                margin-top: 10px;
            }
            div{
                margin-left: 20px;
                margin-top: 10px;
            a{
                margin-left: 10px ;
            }
        }
        }
        }

    }
}